<h1>My Created Programs</h1>

<% current_user.created_programs.most_recent.each do |p| %>
    <p><%= link_to p.name, category_program_path(p.category, p) %> - <i>created on <%= p.format_date %></i> <p>
<% end %>