<h1>Top Creators Today</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created Programs</th>
        </tr>
    </thead>
    <tbody>
        <% @users.reverse.each_with_index do |u, index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= u.name %></td>
                <td><%= u.total_programs %></td>
            </tr>
        <% end %>             
    </tbody>
</table>