<h3>All Programs</h3>
<p>Help us grow and <%= link_to "add a program", new_program_path %><p>
<br>
<% @programs.ordered_by_name.each do |p| %>
    <%= link_to p.name, program_path(p) %><br>
    <br>
<% end %>