<h1>Programs#index</h1>
<% if @programs.empty? %>
    <h2>There are no programs at the moment. </h2>
<% else %> 
    <% @programs.each do |i| %>
        Name: <%= i.name %> <br>
        Description: <%= i.description %><br>
        Website: <%= i.website %><br>
    <% end %>
<% end %>
