<h2><%= @category.name %></h2>
<br>
<%= link_to "Add A Program", new_category_program_path(@category, @program) %><br>
<br>
<% if @category.programs.empty? %>
    <p>There are no programs at the moment.</p>
<% else %>
    <% @category.programs.each do |p| %>
        <%= link_to p.name, category_program_path(@category, p) %><br>
    <% end %>
<% end %>