<div class="col-6">
  <div class="p-3">
      <h1><strong>Programs</strong></h1>
      <br>
      <%= render partial: 'list', locals: { programs: @programs } %>
     
      <br><br>

  <div class="col-6 pt-4">
  <div class="p-4 border bg-light">
      <h4><strong>I want to:</strong></h4>
      <br>
      <%= link_to "Add a program", new_program_path %><br>
      <%= link_to "View categories", categories_path %><br>
      <br>
      <br>
  </div>
</div>
        
  </div>
</div>