<h3>My Bookmarks</h3>
    <% @user_programs.each do |p| %>
        <%= link_to p.program.name, category_program_path(p.program.category, p.program) %><br>
    <% end %>
    <p>Browse all programs <%= link_to 'here', programs_path %></p>