<h2>Categories</h2>
<p>Find me in app/views/categories/index.html.erb</p>

<% if current_user.admin %>
<%= link_to 'New Category', new_category_path %>
<% end %>
<br>
<br>
<% @categories.each do |c| %>
    <%= link_to c.name, category_path(c) %><br>
<% end %>